<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-content: center;
        }

        #left{
            float:left;
            width: 30%;
            background-color:#fff;
            min-height: 400px; 
        }
        #right{
            float:right;
            width: 70%;
            background-color:#eee; 
            min-height: 400px; 
            position: relative;
        }

        #header{
            position: absolute;
            top: 0;
            width: 100%;
        }

        #footer{
            position: absolute;
            bottom: 0;
        }

        #greating{
            width: 70%;
            float: left;
        }
        #chat-content{
            position: relative;
            top: 20px;
        }
        #logout-btn{
            width: 30%;
            float:right;
        }
    </style>
</head>

<body>
    <div id="loginForm">
        <h3>What's your name?</h3>
        <input type="text" id="userName">
        <button id="registerButton">Register</button>
    </div>
    <div id="chatForm">
        <div id="left">
            <h2>User online</h2>
            <ul id="user-online">

            </ul>
        </div>
        <div id="right">
            <div id="header">
                <div id="greating">Heloo PPBra</div>
                <input value="logout" id="logout-btn" type="button" />
            </div>
            <div id="chat-content"></div>
            <div id="footer">
                <input id="input-message" type="text">
                <input type="button" value="send" id="send-btn">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $("#loginForm").show();
            $("#chatForm").hide();
        });
        var user = {};
        var users = [];
        const message = [];
        var socket = io('127.0.0.1:3000');
        $("#send-btn").click(()=>{
           const tmp =  $('#input-message').val();
           const data = {
               user:user,
               message:tmp
           }

           $("#chat-content").append(
                `<div>
                    <span>${data.user.userName}:</span>
                    <span>${data.message}</span>    
                </div>`
            )

            $('#input-message').val('');

           socket.emit("send-message",data);
        })

        socket.on("recieve-message",(data)=>{

            $("#chat-content").append(
                `<div>
                    <span>${data.user.userName}:</span>
                    <span>${data.message}</span>    
                </div>`
            )
        })

        socket.on("register-false", () => {
            $(document).ready(() => {
                localStorage.setItem("isLogin", { value: false });
                alert("Da co nguoi dung ten nay!");
            })
        })
        socket.on('register-success', (data) => {
            localStorage.setItem("isLogin", { value: true });

            user = data.isYour;
            users = data.users;

            users.forEach(element => {
                if (element.id !== user.id) {
                    $("#user-online").append(`<li>${element.userName}</li>`);
                }
            });
            $("#greating").text(user.userName);
            $("#loginForm").hide();
            $("#chatForm").show();
        })

        socket.on("new-user", (e) => {
            
            if (e.id !== user.id) {
                $("#user-online").append(`<li>${e.userName}</li>`);
            }
        })


        socket.on('log-out', (data) => {

            $("#user-online").empty();
            data.forEach(e => {
                $("#user-online").append(`<li>${e.userName}</li>`);
            })

        })



        $("#registerButton").click(() => {
            const value = $("#userName").val();
            socket.emit("client-send-userName", value);
        })

        $("#logout-btn").click(() => {
            socket.emit("log-out", user);
            $("#loginForm").show();
            $("#chatForm").hide();
        });


    </script>
</body>

</html>